In [2]:
import numpy as np
from sklearn.preprocessing import Normalizer

In [3]:
X = np.array([
    [1, -1, 2],
    [2, 0, 0],
    [0, 1, -10]
], dtype=np.float64)

In [4]:
normalizer1 = Normalizer(norm='max')
normalizer2 = Normalizer(norm='l2')
normalizer1.fit(X)
normalizer2.fit(X)

Normalizer(copy=True, norm='l2')

In [5]:
print(normalizer1.transform(X))
print("----------------------------------")
print(normalizer2.transform(X))

[[  0.5  -0.5   1. ]
 [  1.    0.    0. ]
 [  0.    1.  -10. ]]
----------------------------------
[[ 0.40824829 -0.40824829  0.81649658]
 [ 1.          0.          0.        ]
 [ 0.          0.09950372 -0.99503719]]

In [6]:
import pandas as pd
pd.DataFrame(X).describe()

         0    1          2
count  3.0  3.0   3.000000
mean   1.0  0.0  -2.666667
std    1.0  1.0   6.429101
min    0.0 -1.0 -10.000000
25%    0.5 -0.5  -5.000000
50%    1.0  0.0   0.000000
75%    1.5  0.5   1.000000
max    2.0  1.0   2.000000

In [7]:
pd.DataFrame(normalizer2.transform(X)).describe()

              0         1         2
count  3.000000  3.000000  3.000000
mean   0.469416 -0.102915 -0.059514
std    0.502798  0.269066  0.907232
min    0.000000 -0.408248 -0.995037
25%    0.204124 -0.204124 -0.497519
50%    0.408248  0.000000  0.000000
75%    0.704124  0.049752  0.408248
max    1.000000  0.099504  0.816497